// overwrite theme variables
// good-looking theme
$primary: #34383d;
$secondary: #1c1e21;
$light: #f2efee;
$success: #66ab57;
$info: #58a6ff;
$warning: #e49b1f;
$danger: #f44336;

.username{
    border:0px;
    outline:0;
    margin-top:10px;
    margin-bottom:25px;
    border-color:transparent;
    text-align:center;
    color:#fff
}

.password {
    border: 0px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    border-color: transparent;
    text-align: center;
    color: #fff
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';