// overwrite theme variables
// good-looking theme
$primary: #34383d;
$secondary: #1c1e21;
$light: #f2efee;
$success: #66ab57;
$info: #58a6ff;
$warning: #e49b1f;
$danger: #f44336;

.username{
    border:0px;
    outline:0;
    border-color:transparent;
    margin-top:10px;
    margin-bottom:25px;
    text-align:center;
    color:$light;
    font-weight:bold;
}

.password {
    border: 0px;
    outline: 0;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    color: $light;
    font-weight:bold;
}

.listofCategoriesBody {
    text-align: center;
    color:$light;
}
.listofCategoriesBodyLetter {
    color: #fff;
}

.cardBody
{
    color:$light;
}
.taskTitle
{
    border:0px;
    outline:0;
    border-color:transparent;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align:center;
    color:$light;
    font-weight:bold;
}
.taskDesc
{
    border: 0px;
    outline: 0;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    color: $light;
    font-weight: bold;
}

.btn-circle.btn-md {
    width: 40px;
    height: 40px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';